body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.form-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    width: 300px;
    height: 138px;
}

.heading-4 {
font-size: 12px;
color: rgba(0, 0, 0, 0.8);
letter-spacing: 2px;
text-transform: uppercase;
}

.paragraph {
font-size: 10px;
color: rgba(0, 0, 0, 0.8);
letter-spacing: 2px;
text-transform: uppercase;
}

.paragraph-2 {
font-size: 10px;
color: rgba(0, 0, 0, 0.8);
letter-spacing: 2px;
}

.file-name-style {
font-size: 10px; 
color: rgba(0, 0, 0, 0.6); 
margin-top: 5px;
}

.logo-style {
width: 40px; 
height: 40px; 
margin-left: 10px; 
}

.h4-form {
font-size: 12px;
color: rgba(0, 0, 0, 0.8); 
letter-spacing: 2px; 
text-transform: uppercase;
}

.hidden-input {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}

.hr-results {
font-size: 10px; 
color: rgb(0, 0, 0);
}

.detected-results-p {
font-size: 10px; 
color: rgb(0, 0, 0);
}

.h3-index {
text-decoration: none; 
color: inherit;
margin-left: 10px;
}

.h4-detected-results {
font-size: 12px; 
color: rgba(0, 0, 0, 0.8); 
text-transform: uppercase;
}

.detected-results {
background: transparent;
color: rgb(0, 0, 0);
border: none;
padding: 10px;
position: fixed;
top: 60px; 
display: flex;
flex-direction: column;
align-items: center;
max-height: 400px;
overflow-y: scroll;
box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
margin-top: 4rem;       
}

.header-result {
background: transparent;
border: none;
color: rgb(0, 0, 0);
text-align: center;
padding: 5px;
position: fixed;
top: 0;
display: flex;
justify-content: space-between;
align-items: center;    
}

.header-result-container {
display: flex; 
align-items: center;
}

.footer-panel {
background: transparent;
font-size: 12px;
color: rgb(0, 0, 0);
border: none;
text-align: center;
padding: 10px;
position: fixed;
bottom: 3rem;
}

.result-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-input {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}

.results-style {
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 80%;

}

.outer-container {
width: 400px;
max-width: 800px;
margin: 0 auto;
overflow-y: scroll; 
}


.content {
padding: 20px;

background-color: transparent;
border-radius: 8px;
}

.outer-container::after {
content: '';
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
border-radius: 8px;
pointer-events: none; 
}

.detected-text {
margin-bottom: 5px;
}

p {
font-size: 14px;
line-height: 1.5;
color: #000000;
}

hr {
border: 0;
border-top: 1px solid #000000;
margin: 20px 0;
}

form {
  text-align: center;
  background-color: transparent; 
  padding: 20px;
  border-radius: 12px; 
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: transparent; 
  border: 2.5px solid rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 2px; 
  text-transform: uppercase;
}


.glass-panel {
  color: #000000; 
  margin: 40px auto;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.5); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}


.glass-button {
  display: inline-block;
  padding: 16px 16px;
  margin-bottom: 16px;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.94);
  border: 1px solid rgba(255, 255, 255, 0);
  backdrop-filter: blur(30px);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.glass-button span{
  color: white;
}

.result-container p {
  font-size: 14px; 
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2px; 
  text-transform: uppercase;
}

body {
  background: linear-gradient(to right, #ffffff, #ffffff); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.glass-panel {
  max-width: 700px;
  max-height: 3000px;
}

.glass-button {
  margin: 10px;
  margin-top: 20px;
}

h2,
h2 a {
  min-height: 120px;
  width: 10%;
  max-width: 700px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  padding-top: 60px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 2px; 
  text-transform: uppercase;
}


h2.custom-style,
h2.custom-style a {
  color: black !important; 
  min-height: 120px;
  width: 100%;
  max-width: 700px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  padding-top: 60px;
  letter-spacing: 2px; 
  text-transform: uppercase;
}

p {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 32px;
  color: rgba(0, 0, 0, 0.6);
}


.result-container {
  text-align: center;
  margin-top: 20px;
  background-color: transparent;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.socials-container {
display: flex; 
justify-content: center; 
margin-top: 10px;
}

.ivanlunadev-social {
width: 40px; 
height: 40px; 
margin-right: 10px; 
border-radius: 25%; 
}

.github-social {
width: 40px; 
height: 40px; 
margin-right: 10px; 
border-radius: 25%; 
}

.linkedin-social {
width: 40px;
height: 40px;
border-radius: 25%;
}


@media only screen and (min-width: 768px) {
.detected-results {
  max-height: 500px;  
}
}

@media only screen and (max-width: 750px) {
.glass-panel {
  width: 80%;
}
}



@media only screen and (max-width: 600px) {
input {
    font-size: 10px; 
}

.glass-button {
    font-size: 10px; 
}

.result-container p {
    font-size: 10px; 
}

h2,
h2 a {
    font-size: 14px; 
}
  
}
  